# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# kate
*.kate-swp

# other
eclipse
run

# third-party jars used only for development
libs
